name: CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: build disk image
      run: make image.bin
  llvm:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: LLVM build
      run: make LLVM=on image.bin
